text
{
    font-size: 1em;
	font-family: Helvetica, Arial, Sans-Serif;
}

#featuresPanel
{
    position:absolute;
    top:5%;
    left:5%;
}

#sparklinePanel 
{
    position:absolute;
    top:5%;
    left:50%;
}

#question
{
    text-align:center;
}