.axis {
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #000000;
    stroke-width: 2px;
}

.axis .ticks line {
    stroke: #4F4F4F;
    stroke-width: 2px;
}

.axis .ticks line.minor{
    stroke: #CCCCCC;
    stroke-width:1px;
}